ion-header {
  ion-toolbar {
    --background: #F5F6FA;
    ion-buttons {
      ion-back-button {
        font-size: 4vw;
        --color: #16181B;
        text-transform: none;
      }
    }
  }
}
ion-label {
  margin-left: 10vw;
  font-size: 7vw;
  font-weight: 600;
}
p {
  margin-left: 10vw;
  font-size: 5vw;
  font-weight: 400;
}
.enter-button {
  text-align: center;
  width: 100%;
  margin: 5vw 0 5vw 0;
  ion-button {
    --background: #16181B;
    --border-radius: 1.5vw;
    font-style: normal;
    font-weight: 400;
    color: white;
    height: 17vw;
    text-transform:none;
    font-size: 6vw;
    width: 95%;
    margin:auto;
    
    --background-activated-opacity: 1;
    --background-activated: #FF6B01;
    --color-activated: white;
  }
}

ion-row {
  ion-col {
    text-align: center;
    ion-button {
      width: 40vw;
      height: 20vw;
      font-size: 4vw;
      --background: white;
      color: #2D2F32;
      --border-radius: 3vw;
      --background-activated: none;

    }
    .active {
      --background: #FF6B01;
      color: white;
    }
  }
}

.add-card {
  text-align: center;
  width: 90%;
  margin: auto;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(231, 233, 239, 0.25);
  border: 1px solid white;
  border-radius: 3vw;
  margin-top: 4vw;
  margin-bottom: 6vw;
  padding: 4vw;
  ion-row {
    h1 {
      font-size: 6vw;
      margin-left: 5vw;
    }
    ion-col {
      width: 1vw;
      text-align: center;
      ion-input, ion-datetime {
        font-size: 4vw;
        color: #797979;
        border-bottom: 1px solid #797979;
      }
    }
    margin-bottom: 4vw;
  }
  .bottom-row {
    margin-bottom: 4vw;
    .date-column {
      width: 4vw;
    }
  }
}
.back-to-methods {
  text-align: center;
  width: 100%;
  margin: 4vw 0 5vw 0;
  span {
    height: 24px;

    //font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: normal;

    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #9FADBE;
    font-size: 5vw;
    width: 95%;
    margin:auto;
    a {
      color: #0A5EBD;
      text-decoration: none;
    }
  }
}
ion-footer {
  ion-row {
    ion-col {
      text-align: center;
      ion-icon {
        position: relative;
        top: 35%;
        font-size: 5vw;
      }
      .add-button {
        top: 0%;
        width: 15vw;
        font-size: 15vw;
      }
    }
  }
}