<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="Back" icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Pay</ion-label>
  <p>Select your preffered payment method</p>
  <ion-row>
    <ion-col>
      <ion-button class="active">Credit Card</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>PayPal</ion-button>
    </ion-col>
  </ion-row>

  <ion-label>Add card</ion-label>
  <div class="add-card">
     <ion-item>
      <ion-label position="stacked">First name</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/profile-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last name</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/profile-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Number phone</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/phone-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/mail-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item class="phone-model-item">
      <ion-label position="stacked">Phone's model</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/phone-model-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
  </div>
 <ion-row class="enter-button">
   <ion-button (click)="continue()" class="bottom-button">Continue</ion-button>
 </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon (click)="redirect('home')" src="../../assets/img/home-icon.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon (click)="redirect('location')" src="../../assets/img/location-icon.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="add-button" src="../../assets/img/add-button.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon (click)="redirect('reports')" src="../../assets/img/reports-icon.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon (click)="redirect('profile')" src="../../assets/img/profile-icon.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>