<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="{{backButtonText}}" icon="chevron-back" defaultHref="entry"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>{{titleText}}</ion-label>
  <ion-row class="logo">
    <ion-icon src="../../assets/img/logo.svg"></ion-icon>
  </ion-row>
  <div class="container">
    <ion-item #emailInput>
      <ion-input (ionChange)="typing()" [(ngModel)]="email" placeholder="{{emailPlaceholder}}"></ion-input>
    </ion-item>
    <span class="emailErrorMessage" *ngIf="displayEmailError">{{emailErrorMessage}}</span>
    <ion-item #passwordInput>
      <ion-input (ionChange)="typing()" type="password" [(ngModel)]="password" placeholder="{{passwordPlaceholder}}"></ion-input>
    </ion-item>
    <span class="passwordErrorMessage" *ngIf="displayPasswordError">{{passwordErrorMessage}}</span>
    <ion-row>
      <span class="social-login-title">{{socialMediaTitle}}</span>
    </ion-row>
    <ion-row class="social-login-row">
      <ion-col>
        <ion-icon name="logo-google" (click)="google()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-apple" (click)="apple()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-facebook" (click)="facebook()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-twitter" (click)="twitter()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="errorMessage">
    <span>{{errorMessage}}</span>
  </ion-row>
  <ion-row class="next-button">
    <ion-button (click)="login()">{{loginButtonText}}</ion-button>
  </ion-row>
  <ion-row class="face-id">
    <ion-icon src="../../assets/img/face-id_white.svg"></ion-icon>
  </ion-row>
</ion-content>