<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="{{backButtonText}}" icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>{{titleText}}</ion-label>
  <div class="map-wrapper">
    <div id="map" #mapElement>

    </div>
  </div>
  <a class="address-link" *ngIf="showCompanyOnMap" href={{clickedBussiness.googleMapsLink}}>
    <div class="card-on-map">
      <ion-card (click)="openGoogleMaps($event, clickedBussiness)">
        <ion-card-header>
          {{clickedBussiness.title}}
        </ion-card-header>
        <ion-card-content>
          {{clickedBussiness.address}}
        </ion-card-content>
      </ion-card>
    </div>
  </a>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="redirect('home')">
        <ion-icon src="../../assets/img/home-icon.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon src="../../assets/img/location-icon-chosen.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('add-report')">
        <ion-icon class="add-button" src="../../assets/img/add-button.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('reports')">
        <ion-icon src="../../assets/img/reports-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('profile')">
        <ion-icon src="../../assets/img/profile-icon.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>