<ion-content [fullscreen]="true" *ngIf="displayContent">
  <ion-row class="logo">
    <ion-icon src="../../assets/img/logo.svg"></ion-icon>
  </ion-row>
  <ion-slides mode="ios" pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-row class="title">
        <p>{{firstTitle}}</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-first.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>{{secondTitle}}</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-second.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>{{thirdTitle}}</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-third.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>{{fourthTitle}}</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-fourth.svg"></ion-icon>
      </ion-row>
    </ion-slide>
  </ion-slides>
  
  <ion-row class="enter-button">
    <ion-button (click)="getStarted()" class="bottom-button">{{getStartedButtonText}}</ion-button>
  </ion-row>
</ion-content>