<ion-content [fullscreen]="true">
  <ion-row class="logo">
    <ion-icon src="../../assets/img/logo.svg"></ion-icon>
  </ion-row>
  <ion-slides mode="ios" pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-row class="title">
        <p>This service helps to quickly generate and download an insurance report</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-first.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>Easily generate a report and download it directly to your smartphone</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-second.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>Easily find a branch of an insurance company</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-third.svg"></ion-icon>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="title">
        <p>Smart Mobile Services, fast solutions  for telephone problems</p>
      </ion-row>
      <ion-row class="image">
        <ion-icon src="../../assets/img/get-started-fourth.svg"></ion-icon>
      </ion-row>
    </ion-slide>
  </ion-slides>
  
  <ion-row class="enter-button">
    <ion-button (click)="getStarted()" class="bottom-button">Get started</ion-button>
  </ion-row>
</ion-content>