<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="{{backButtonText}}" icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>{{titleText}}</ion-label>
  <ion-row class="title">
    <div class="image">
      <img (click)="uploadPhoto()" *ngIf="data.user.img != ''" src="{{data.user.img}}"/>
      <ion-icon (click)="uploadPhoto()" class="default-pic" *ngIf="data.user.img == ''" name="person-circle-sharp"></ion-icon>
      <ion-icon (click)="uploadPhoto()" class="photo-icon" src="../../assets/img/photo.svg"></ion-icon>
    </div>
    <br>
    <div class="name">
      <span *ngIf="data.user.first_name">{{data.user.first_name}} </span>
      <span *ngIf="data.user.last_name">{{data.user.last_name}}</span>
    </div>
  </ion-row>
  <div class="container">
     <ion-item>
      <ion-label position="stacked">{{firstNameLabelText}}</ion-label>
      <ion-input [(ngModel)]="data.user.first_name">
        <ion-icon slot="start" src="../../assets/img/profile-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{lastNameLabelText}}</ion-label>
      <ion-input [(ngModel)]="data.user.last_name">
        <ion-icon slot="start" src="../../assets/img/profile-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{phoneNumberLabelText}}</ion-label>
      <ion-input [(ngModel)]="data.user.phone_number">
        <ion-icon slot="start" src="../../assets/img/phone-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{emailLabelText}}</ion-label>
      <ion-input [(ngModel)]="data.user.email">
        <ion-icon slot="start" src="../../assets/img/mail-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item class="phone-model-item">
      <ion-label position="stacked">{{phoneModelLabelText}}</ion-label>
      <ion-input>
        <ion-icon slot="start" src="../../assets/img/phone-model-icon.svg"></ion-icon>
        <ion-icon class="pencil-icon" slot="end" src="../../assets/img/pencil-icon.svg"></ion-icon>
      </ion-input>
    </ion-item>
  </div>

  <div class="container">
     <ion-item (click)="redirect('reports')">
       <span><ion-icon slot="start" src="../../assets/img/reports-history-icon.svg"></ion-icon>{{reportsHistoryButtonText}}</span>
    </ion-item>
    <!-- <ion-item (click)="redirect('estimate-phone')">
      <span><ion-icon slot="start" src="../../assets/img/estimate-phone-icon.svg"></ion-icon>{{estimatePhoneButtonText}}</span>
    </ion-item> -->
    <ion-item (click)="redirect('settings')">
      <span><ion-icon slot="start" src="../../assets/img/settings-icon.svg"></ion-icon>{{settingsButtonText}}</span>
    </ion-item>
    <ion-item (click)="redirect('location')">
      <span><ion-icon slot="start" src="../../assets/img/location-icon.svg"></ion-icon>{{locationsButtonText}}</span>
    </ion-item>
    <ion-item class="phone-model-item" (click)="signOut()">
      <span><ion-icon slot="start" name="log-out-outline"></ion-icon>{{signOutButtonText}}</span>
    </ion-item>
  </div>
  <ion-row class="enter-button">
    <ion-button (click)="save()" class="bottom-button">{{saveButtonText}}</ion-button>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="redirect('home')">
        <ion-icon src="../../assets/img/home-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('location')">
        <ion-icon src="../../assets/img/location-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('add-report')">
        <ion-icon class="add-button" src="../../assets/img/add-button.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('reports')">
        <ion-icon src="../../assets/img/reports-icon.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon src="../../assets/img/profile-icon-chosen.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>