<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="{{backButtonText}}" icon="chevron-back" defaultHref="entry"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>{{titleText}}</ion-label>
  <ion-row class="title">
    <img *ngIf="data.user.img != ''" src="{{data.user.img}}"/>
    <ion-icon style="font-size: 50vw; color: #16181B" *ngIf="data.user.img == ''" name="person-circle-sharp"></ion-icon>
    <span class="name" *ngIf="data.user.first_name || data.user.last_name">{{data.user.first_name}} {{data.user.last_name}}</span>
    <span class="name" *ngIf="!data.user.first_name && !data.user.last_name && data.user.display_name">{{data.user.display_name}}</span>
    <span class="location" *ngIf="data.user.location != null">{{data.user.location.locality}}, {{data.user.location.countryCode}}</span>
  </ion-row>
  <div id="container">
    <span class="errorMessage" *ngIf="displayError">{{errorMessage}}</span>
    <ion-row class="cost-est-button first">
      <ion-button>
        {{costEstimateButtonText}} #1 
        <ion-icon slot="end" src="../../assets/img/cost.svg"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-row class="cost-est-button second">
      <ion-button>
        {{costEstimateButtonText}} #2
        <ion-icon slot="end" src="../../assets/img/cost_2.svg"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon src="../../assets/img/home-icon-chosen.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('location')">
        <ion-icon src="../../assets/img/location-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('add-report')">
        <ion-icon class="add-button" src="../../assets/img/add-button.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('reports')">
        <ion-icon src="../../assets/img/reports-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('profile')">
        <ion-icon src="../../assets/img/profile-icon.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>