<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="{{backButtonText}}" icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>{{settingsString}}</ion-label>
  <div class="container">
    <ion-item (click)="openLanguageList()">
      <ion-label><ion-icon slot="start" src="../../assets/img/language-icon.svg"></ion-icon>{{languageString}}</ion-label>
      <ion-icon *ngIf="!displayLanguageList" class="chevron-icon" slot="end" name="chevron-forward-sharp"></ion-icon>
      <ion-icon *ngIf="displayLanguageList" class="chevron-icon" slot="end" name="chevron-down-sharp"></ion-icon>
    </ion-item>
    <div [ngSwitch]="data.settings.language">
      <div *ngSwitchCase="'en'">
        <ion-item class="chosen-language" *ngIf="displayLanguageList" (click)="changeLanguage('en')">
          <ion-label><ion-icon slot="start" src="../../assets/img/uk-flag.svg"></ion-icon>{{english}}</ion-label>
        </ion-item>
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('ge')">
          <ion-label><ion-icon slot="start" src="../../assets/img/de-flag.svg"></ion-icon>{{german}}</ion-label>
        </ion-item>
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('ru')">
          <ion-label><ion-icon slot="start" src="../../assets/img/ru-flag.svg"></ion-icon>{{russian}}</ion-label>
        </ion-item>
      </div>
      <div *ngSwitchCase="'ge'">
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('en')">
          <ion-label><ion-icon slot="start" src="../../assets/img/uk-flag.svg"></ion-icon>{{english}}</ion-label>
        </ion-item>
        <ion-item class="chosen-language" *ngIf="displayLanguageList" (click)="changeLanguage('ge')">
          <ion-label><ion-icon slot="start" src="../../assets/img/de-flag.svg"></ion-icon>{{german}}</ion-label>
        </ion-item>
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('ru')">
          <ion-label><ion-icon slot="start" src="../../assets/img/ru-flag.svg"></ion-icon>{{russian}}</ion-label>
        </ion-item>
      </div>
      <div *ngSwitchCase="'ru'">
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('en')">
          <ion-label><ion-icon slot="start" src="../../assets/img/uk-flag.svg"></ion-icon>{{english}}</ion-label>
        </ion-item>
        <ion-item *ngIf="displayLanguageList" (click)="changeLanguage('ge')">
          <ion-label><ion-icon slot="start" src="../../assets/img/de-flag.svg"></ion-icon>{{german}}</ion-label>
        </ion-item>
        <ion-item class="chosen-language" *ngIf="displayLanguageList" (click)="changeLanguage('ru')">
          <ion-label><ion-icon slot="start" src="../../assets/img/ru-flag.svg"></ion-icon>{{russian}}</ion-label>
        </ion-item>
      </div>
    </div>

    <ion-item>
      <span><ion-icon slot="start" src="../../assets/img/notifications-icon.svg"></ion-icon>{{notificationsString}}</span>
      <ion-toggle slot="end" (click)="switchNotifications()"></ion-toggle>
    </ion-item>

    <ion-item class="phone-model-item">
      <span><ion-icon slot="start" src="../../assets/img/delete-icon.svg"></ion-icon>{{deleteReportsString}}</span>
      <!-- <ion-icon class="chevron-icon" slot="end" name="chevron-forward-sharp"></ion-icon> -->
    </ion-item>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="redirect('home')">
        <ion-icon src="../../assets/img/home-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('location')">
        <ion-icon src="../../assets/img/location-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('add-report')">
        <ion-icon class="add-button" src="../../assets/img/add-button.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('reports')">
        <ion-icon src="../../assets/img/reports-icon.svg"></ion-icon>
      </ion-col>
      <ion-col (click)="redirect('profile')">
        <ion-icon src="../../assets/img/profile-icon.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>